<div class="d-flex justify-content-center bg-secondary-subtle">
    <div class="card align-content-lg-center my-5">
        <div class="card-body">
            <div class="sad-face">😞</div>
            <h3 class="mt-3" i18n>O-oops! Accusation Limit Reached</h3>
            <p i18n> We consider 2 accusations enough per one day. <br>
                Please, come back tomorrow to report suspicious profiles. <br>
                Our administrator will for sure review your accusations and give a feedback to the volunteers. 
                Only together we can build a trustfull community!</p>
            <a [routerLink]="['/volunteer-profiles']" class="btn btn-lg btn-warning mt-3" i18n>Return to Volunteer Profiles</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
