<div class="container">
    <div class="mt-5 main-container">
        <div class="col-6 col-md-4 col-lg-4 mx-auto text-center rounded-border p-5 px-7">
            <h1 i18n>Log in to proceed:</h1>

            <div class="container mt-5 mb-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">

                        <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline" data-text="signin_with"
                        data-size="large" data-logo_alignment="center" data-width="200px">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </div>
</div>

<div id="g_id_onload" data-client_id="843931615146-6pjg2cij08fpa4imdn6n6j7gtv20vg0n.apps.googleusercontent.com"
data-context="signin" data-ux_mode="popup" data-callback="onGoogleSignIn"
data-auto_prompt="false">
</div>