<nav class="navbar navbar-expand-lg p-2 navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">🤝 Volunteer Report </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']" i18n> About the project</a>
          </li>

          <ng-container *ngIf="user?.roles else startmenu">

            <ng-container *ngIf="user?.roles?.includes(role.Administrator)">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" i18n>
                  Admin panel
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="['admin/volunteers-management']" i18n>Manage volunteers</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="['admin/accusations-management']" i18n>Manage accusations</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="['admin/categories-management']" i18n>Manage report categories</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="['reports']" i18n>Manage reports</a></li>
                </ul>
              </li>
            </ng-container>   

            <ng-container *ngIf="user?.roles?.includes(role.User)">
              <a class="nav-link" aria-current="page" [routerLink]="['/volunteer-profiles']" i18n>Volunteer profiles</a>
              <a class="nav-link" aria-current="page" [routerLink]="['/reports']" i18n>Reports</a>
            </ng-container>

          </ng-container>

          <ng-template #startmenu>
            <li class="nav-item">
              <a class="nav-link" href="#volunteers" i18n> Volunteer profiles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#join" i18n> Join</a>
            </li>
          </ng-template>

        </ul>
        <div class="d-flex">  
          <ng-container *ngIf="user === undefined; else showLogout">
           <a [routerLink]="['/login']" class="btn btn-warning" i18n> <i class="bi bi-person-hearts"></i> Log in to make impact</a>
          </ng-container> 

          <ng-template #showLogout> 
           <div class="d-flex align-items-center">
              <img *ngIf="user?.avatarUrl" [src]="user?.avatarUrl" alt="User Avatar" class="rounded-circle me-2" style="width: 40px; height: 40px;">

              <span class="text-white" i18n>Hi, {{user?.name}}!</span>
                      
              <button class="btn btn-outline-danger ms-3" (click)="onLogout()" i18n><i class="bi bi-person"></i>Log out</button>
           </div>
          </ng-template>
       </div>
      </div>
    </div>
  </nav>

