<div class="container mt-5">
    <div class="text-center mb-1">
        <h2 class="text-center" i18n>Detailed statistics of volunteer's spendings for<br>{{profile?.user?.name}}</h2>

        <div class="row mt-4 text-center">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <h2 class="display-5 fw-bold text-success">{{profile?.reportsCount}}</h2>
                <p i18n>Total number of reports in the system</p>
            </div>
            <div class="col-sm-6">
                <h2 class="display-5 fw-bold text-success">{{profile?.totalCostUsd}} $</h2>
                <p i18n>Total cost of provided help</p>
            </div>
        </div>

        <ng-container *ngIf="chartOptions.labels.length > 0 else noReportsMade">
            <div id="chart" class="font-bold">
                <apx-chart
                    [series]="chartOptions.series || []"
                    [chart]="chartOptions.chart"
                    [labels]="chartOptions.labels"
                    [responsive]="chartOptions.responsive || []"
                    [legend]="chartOptions.legend"
                    >
                </apx-chart>
            </div>
        </ng-container>

        <ng-template #noReportsMade>
            <h4 class="text-danger my-3" i18n>Statistics can't be counted: {{profile?.user?.name}} made no reports in the system yet 👀</h4>
        </ng-template>
        
    </div>
</div>

<div class="divider"></div>