<section class="py-5 bg-light">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 mb-4 mb-lg-0">
				<div class="pe-lg-3">
					<h2 class="display-3 fw-bold mb-4" i18n>Your donation <br><span class="text-success">Their impact</span></h2>
					<p class="lead mb-4" i18n>Together we are stronger. Choose your volunteer to donate to. We believe, that will be a perfect match!</p>
				</div>
				<div class="d-grid d-sm-flex">
					<a class="btn btn-lg btn-success me-2 mb-3 mb-sm-0" [routerLink]="['/login']" i18n>Get Started</a> 
				</div>
			</div>
			<div class="col-lg-6"><img alt="Main theme" class="img-fluid" src="assets/main.png"></div>
		</div>
		<div class="row mt-5">
			<div class="col-sm-4 mb-3 mb-sm-0">
				<h2 class="display-5 fw-bold">15K+</h2>
				<p i18n>Registered volunteers to donate to</p>
			</div>
			<div class="col-sm-4">
				<h2 class="display-5 fw-bold">100K+</h2>
				<p i18n>Help reports from active volunteers</p>
			</div>
            <div class="col-sm-4">
				<h2 class="display-5 fw-bold">Ꝏ</h2>
				<p i18n>Of good deeds and saved lives</p>
			</div>
		</div>
	</div>
</section>

<div class="divider"></div>

<section class="py-5 bg-light">
	<div class="container">
		<div class="row align-items-center">
            <div class="col-lg-6"><img alt="Main theme" class="img-fluid" src="assets/main.png"></div>
			<div class="col-lg-6 mb-4 mb-lg-0 text-lg-end">
				<div class="pe-lg-3">
					<h2 class="display-3 fw-bold mb-4" i18n>Your donation <br><span class="text-success">Their impact</span></h2>
					<p class="lead mb-4" i18n>Together we are stronger. Choose your volunteer to donate to. We believe, that will be a perfect match!</p>
				</div>
				<div class="d-grid d-sm-flex justify-content-end">
					<a class="btn btn-lg btn-success me-2 mb-3 mb-sm-0" [routerLink]="['/login']" i18n>Get Started</a> 
				</div>
			</div>
		</div>
	</div>
</section>

<div class="divider"></div>

<section class="py-5 bg-light">

</section>